.score-container {
  padding: calc(var(--gap)/2);
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.score {
  font-weight: bold;
  text-wrap: nowrap;
}

.current-score {
  margin-bottom: calc(var(--gap)/2);
}

.score span {
  padding: calc(var(--gap)/4) calc(var(--gap)/3);
  background-color: wheat;
  margin: calc(var(--gap)/3);
  border: none;
  border-radius: 4px;
}
