header {
  padding: calc(var(--gap)/1.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--gap);  
  background-color: #f0f0f0;
  border-bottom: 1px solid #d0d0d0;
}

/*
** responsiveness
*/

@media screen and (max-width: 690px) {
  header {
    justify-content: center;
    text-align: center; 
  }
}
